.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vmin;
    z-index: 1000;
}

.Modal .content {
    border-radius: 1vmin;
    margin: 0 auto;
    padding: 30px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #fff;
    width: max-content;
    height: max-content;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    z-index: 1001;
}

.Modal .header {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1001;
}

.Modal .annuler {
    width: 40px;
    margin: 2vmin auto auto;
    vertical-align: top;
}