.Inscription Form.Control:valid{
    border: 2px solid black;
}

.Inscription Form.Control:invalid{
    border: 2px dashed red;
}

.Inscription .required:after {
    content: "*";
    color: red;
}

.background-is-white {
    background-color: white;
}