body, html {
  width: 100%;
  min-height: 100%;
  background-color: #005360;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #005360;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.padded-small {
  padding: 1rem;
}

.padded-medium {
  padding: 2rem;
}

.is-rounded {
  border-radius: 10px;
}

/* For mobile: */
@media only screen and (max-width: 768px) {
  .is-rounded {
    border-radius: 0
  }
}

.logo {
  width: 50px;
  filter: contrast(1.25);
}

.full-width {
  width: 100%;
}

.has-max-width-500 {
  max-width: 500px;
}