.Inscription .content{
    background-color: #fff;
    border-radius: 2vmin;
    width: 70vmin;
    height: 100%;
    margin: 3vmin auto;
    padding: 8vmin;
    left: 50%;

    display: grid;
    grid-template-columns: 1fr;
}

.Inscription .content h1{
    font-size: 4vmin;
    text-align: center;
    color: #005360;
}

.Inscription .content *{
    display: grid;
    margin: 0.5vmin 1vmin 0.5vmin 1vmin;
}